@import url('common.css');

body .notice1,body .sita{transition:.5s .3s;}


body.active .notice1,body.active .sita{
    opacity:1;    
}

.notice1,.sita{
    opacity:0;
}



.notice1{    
    margin:0 auto;
    width:80%;
    border-collapse:collapse; 
}
.notice1 caption{
    text-align:left;
    border-bottom:2px solid #222c3e;
    font-size:20px;
    padding-bottom:16px;
    
    font-family: 'Gothic A1', sans-serif;
    font-weight:bold;
    color:#4bb3a1;
    padding-top:20px;
}

.notice1 th,
.notice1 td{
    border-bottom:1px solid #616e85;
    padding:10px 0;
    text-align: center;
}



.notice1 thead{width:100%;}
.notice1 thead tr:nth-of-type(1){background:#d7dbe3;
}
.notice1 thead tr th{
    width:10%;
    text-align:center;
}
.notice1 thead tr td{
    width:70%;    
    text-align:left;
}
.notice1 tbody{}
.notice1 tbody tr th:nth-of-type(1){
    width:10%;
    text-align:center;
    font-size:12px;
}
.notice1 tbody tr:nth-of-type(2){
    border-top:1px solid #222c3e;
}
.notice1 tbody tr:nth-of-type(2) img{
    width:150px;
}
.notice1 tbody tr:nth-of-type(3)){
    border-top:1px solid #222c3e;
}
.notice1 tbody tr th:nth-of-type(2){
    font-size: 15px;
    font-weight:200;
}
.notice1 tbody tr:nth-of-type(3){
    background:#d7dbe3;
}
.notice1 tbody tr:nth-of-type(3) p{
    background:url('../img/Q.png') 1% 50% no-repeat;
    font-weight:100;
    text-align: left;
    padding:10px 45px;
    margin:0 auto;
}
.notice1 tbody tr th img{padding:15px;}
.notice1 tbody tr:nth-of-type(4) th{
    border-top:2px solid #222c3e;
    border-bottom:2px solid #222c3e;
}
.notice1 tbody tr:nth-of-type(4) th p{
    background:url('../img/A.png') 1% 5% no-repeat;
    padding-left:40px;
    margin: 0 auto;
}
.notice1 tbody tr th:nth-of-type(1){
    font-size:15px;
}
.notice1 tbody tr th:nth-of-type(2){
    font-size:14px;
    text-align: left;
    white-space: pre-line;
    padding:15px 5px;
    font-weight:150;
    line-height:1.5;
}




.sita{
    width:80%; 
    margin:0 auto;
    padding:35px 0;
}
.sita .shc{text-align: right;}
.sita .shc_b{    
    border:1px solid #222c3e;
    background:#f5b8bc;
    padding:5px 10px;
    margin-bottom:25px;
    }

.sita .fot{
    padding:10px 0;
    border-top:1px solid #222c3e;
    border-bottom:1px solid #222c3e;
}
.sita .fot strong{
    width:20%;
    padding:20px 15px;
}
.sita .fot a{
    font-size:14px;
}

/*=====media======*/



@media All and (max-width:1160px){
    .notice1{width:100%;}
    .notice1 caption{
        width:100%;
        text-align: center;
        font-size:20px;
    }
    .notice1 thead tr th{
        width:25%;
    }
    .notice1 tbody tr th img{width:100%;}
    .shc{width:100%; padding-left: 15px;}
    .sita .shc{padding-right:5px;}
    .shc input{font-size:15px;}
    .sita{
        width:100%; }
}