@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
/*font-family: 'Gothic A1', sans-serif;*/


body header,body footer,body main{transition:.5s .3s;}


body.active header,
body.active footer,
body.active main,
fieldset{
    opacity:1;    
}

header,footer,main{
    opacity:0;
}


html,body{ 
    margin:0;
    overflow:auto;
    scroll-behavior:smooth;
}
ul,li{
    margin:0; padding:0;
    list-style:none;
}
h1,h2,h3,h4,h5,h6{
    margin:0; padding:0;
}
a{
    text-decoration: none;
    color:#222c3e;
    font-family: 'Gothic A1', sans-serif;
} 
*{ box-sizing: border-box;
    color:#222c3e;}

/*top*/

.mtopB{display:none;}

/*=====header=====*/

/*media*/
h2{
    width:100%;
    display:block;
    text-align: center;
    padding:3% 0;
}
.meida_header{width:100%;}
header .m_h_l{
    width:50%;
    display:block;
    position:absolute;
    left:0; top:75%;
    z-index:50;
}
header .m_h_l .op_l_1{
    width:100px;
    padding:0 7px;
    background-color:#ffc3c7;
}
header .m_h_l .op_l_2.active{
    opacity:1;
}

header .m_h_l .h_lm{
    display:none;
    
    background-color:#ffc3c7;
    text-align: center;
    padding:10px 0;
}
header .m_h_l .h_lm.active{
    display:block;
}

header .m_h_l .h_lm ul{
    padding:8px 0;
    display: block;
}
header .m_h_l .h_lm ul li{
     display: block;
    padding:3px 0;
}
header .m_h_l .h_lm ul li .menu_main{
    font-weight:bold;
    font-size:1.1em;
    padding:5px 0;
}
header .m_h_l .h_lm .main_1 .h_m{
    display:none;
}
header .m_h_l .h_lm .main_1 .h_m.active{display:block;}
header .m_h_l .h_lm .h_m .h_m_1,header .m_h_l .h_lm .h_m .h_m_2,header .m_h_l .h_lm .h_m .h_m_3,header .m_h_l .h_lm .h_m .h_m_4,header .m_h_l .h_lm .h_m .h_m_5{
    width:100%;
    font-size:1em;
    padding-bottom:5px;
}

header .m_h_l .h_lm .h_m .h_m_1 a:hover{
    background-color:#fff;
}
header .m_h_l .h_lm .h_m .h_m_2 a:hover{
    background-color:#fff;
}
header .m_h_l .h_lm .h_m .h_m_3 a:hover{
    background-color:#fff;
}
header .m_h_l .h_lm .h_m .h_m_4 a:hover{
    background-color:#fff;
}
header .m_h_l .h_lm .h_m .h_m_5 a:hover{
    background-color:#fff;
}

header .m_h_l .h_lm .h_m_11{
    background-color:rgba(255,255,255,0.5);
}
header .m_h_l .h_lm .h_m_11 a{
    font-size:1em;
}
header .m_h_l .h_lm .h_m_11 a:hover{
    background-color:#fff;
}
header .m_h_l .h_lm .h_m_11{display:none;}
header .h_m_1.active .h_m_11,header .h_m_2.active .h_m_11,header .h_m_3.active .h_m_11,header .h_m_4.active .h_m_11,header .h_m_5.active .h_m_11{display:block;}

header .m_h_r{
    width:50%;
    display:block;
    text-align: right;
    position:absolute;
    right:0; top:75%;
    z-index:50;
}
header .m_h_r .op_r_1{
    width:100px;
    padding:0 7px;
    background-color:#ffc3c7;
}
header .m_h_r .h_rm{
    display:none;
    padding:10% 0;
    text-align: center;
    background-color:#ffc3c7;
}
header .m_h_r .h_rm.active{
    display:block;
}

header .m_h_r .h_rm .h_r_u{}
header .m_h_r .h_rm .h_r_u li{
    display:block;
}
header .m_h_r .h_rm .h_r_u li:nth-of-type(2){padding:2% 0;}
header .m_h_r .h_rm .h_r_u li a{
    font-size:1.1em;
    font-weight:bold;
}

header .m_h_r .h_rm .h_r_s{
    width:90%;
    display:flex;
    margin: 0 auto;
    text-align: center;
    justify-content: space-around;
}
header .m_h_r .h_rm .h_r_s li a{
    font-size:1em;
    
}

header .m_h_r .h_rm .s_h{
    padding:8% 0 2% 0;
}
header .m_h_r .h_rm .s_h .h_r_s{
    
}
header .m_h_r .h_rm .s_h .h_r_s li{
    width:100%;
    display:flex;
}
header .m_h_r .h_rm .s_h .h_r_s li input{
    width:85%;
    padding:2%;
}
header .m_h_r .h_rm .s_h .h_r_s li img{
    padding-left:10px;
    width:38px;
    height:30px;
}

header .m_h_r .h_rm .h_r_m{
    width:100%;
    display:block;
}
header .m_h_r .h_rm .h_r_m li{
    padding:2%;
    display:block;
}
header .m_h_r .h_rm .h_r_m li p{
    padding:0;
    margin:2% 0;
    font-size:0.9em;
}
header .m_h_r .h_rm .h_r_m li select{
    width:150px;
    height:25px;
}

/*pc*/
.meida_header{display:none;}
header .main_header{
    width:80%;
    margin:0 auto;
}


header .main_header .pc_header{ 
    width:100%;
    text-align:center;
    display:flex;
    justify-content:space-between;
    align-items: flex-end;
    padding-top:50px;
    padding-bottom:30px;
}
header .main_header .pc_header h1{
    width:20%;
    margin:0;
    padding-bottom:10px;
    display:inline-block;
}
header .main_header .pc_header h1 img{width:90%;}


header .main_header .pc_header .h_r{
     width:40%; 
    margin:0;
    padding:0;
    display:inline-block;
}

header div .h_r ul li:nth-of-type(4) a{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:0;
    background:url('../img/icon_search.png') no-repeat;
    width:25px; height:25px;
}

header div .h_r ul li .s_h{
    position:absolute;
    right:0; top:100%;
    width:450px; height:300px;
    background:#ffc3c7;
    display:none;
    z-index:800;
}
header div .h_r ul li .s_h input{
    width:400px; height:35px;
    margin-top:25px;
    margin-right:10px;
}
header div .h_r ul li .s_h img{
    width:25px;
    margin-top:25px;
}
header div .h_r ul li .s_h .h_r_s{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:30px;
}
header div .h_r ul li .s_h li p{
    margin:0 auto;
    font-size:14px;
    text-align:left;
    color:#222c3e;
}
header div .h_r ul li .s_h select{
    width:150px; height:25px;
    margin:25px auto;
}
header div .h_r ul li:hover .s_h{
    opacity:1;
    display:block;
}


header .main_header .pc_header .h_l{
    width:35%; 
    margin:0;
    padding:0;
    display:inline-block;
}

header .h_l .h_m_m{
    position:absolute;
    padding:5px auto;
    background:#ffc3c7;  
    z-index:800;
    display:none;
}
/*header .h_l:hover .h_m_m{
    display:block;
    opacity:1;
}*/
header .h_l .h_m_m a{
    font-size:15px;
    padding:5px auto;
}

header .h_l .h_m_m .menu_1{
    margin:0 auto;
    position:relative;
    padding:5px;
    background:#ffc3c7;
}
header .h_l .h_m_m .menu_1 > a{
    width:100%;
    color:#222c3e;
}
header .h_l .h_m_m .menu_1:hover > a{
    background:#fff;
}

header .pc_header .h_l .h_m_m div ul{
    display:none;
}

header .h_l .h_m_m .menu_1 ul{
    width:130%;
    position:absolute;
    left:100%; top:0%;
    background:#ffc3c7;
    white-space:pre-line;
    transition:.5s;
   /* opacity:0;*/
}
/*header .h_l .h_m_m .menu_1:hover > ul{
    opacity:1;
}*/
header .h_l .h_m_m .menu_1 ul li{
    margin:5px auto;
}
header .h_l .h_m_m .menu_1 ul li a{   
    font-size:14px;
    background:#ffc3c7;
    color:#222c3e;
}
header .h_l .h_m_m .menu_1 ul li:hover > a{
    background:#fff;
}

header .h_l .h_m_m .menu_2{
    margin:0 auto;
    position:relative;
    padding:5px;
    background:#ffc3c7;
}
header .h_l .h_m_m .menu_2 > a{
    width:100%;
    color:#222c3e;
}
header .h_l .h_m_m .menu_2:hover > a{
    background:#fff;
}

header .h_l .h_m_m .menu_2 ul{
    width:130%;
    position:absolute;
    left:100%; top:-100%;
    background:#ffc3c7;
    white-space:pre-line;
    /*opacity:0;*/
    transition:.5s;
}
/*header .h_l .h_m_m .menu_2:hover > ul{
    opacity:1;
}*/
header .h_l .h_m_m .menu_2 ul li{
    margin:5px auto;
}
header .h_l .h_m_m .menu_2 ul li a{   
    font-size:14px;
    background:#ffc3c7;
    color:#222c3e;
}
header .h_l .h_m_m .menu_2 ul li:hover > a{
    background:#fff;
}


header .h_l .h_m_m .menu_3{
    margin:0 auto;
    position:relative;
    padding:5px;
    background:#ffc3c7;
}
header .h_l .h_m_m .menu_3 > a{
    width:100%;
    color:#222c3e;
}
header .h_l .h_m_m .menu_3:hover > a{
    background:#fff;
}

header .h_l .h_m_m .menu_3 ul{
    width:130%;
    position:absolute;
    left:100%; top:-200%;
    background:#ffc3c7;
    white-space:pre-line;
    transition:.5s;
}
/*header .h_l .h_m_m .menu_3:hover > ul{
    opacity:1;
}*/
header .h_l .h_m_m .menu_3 ul li{
    margin:5px auto;
}
header .h_l .h_m_m .menu_3 ul li a{   
    font-size:14px;
    background:#ffc3c7;
    color:#222c3e;
}
header .h_l .h_m_m .menu_3 ul li:hover > a{
    background:#fff;
}

header .h_l .h_m_m .menu_4{
    margin:0 auto;
    position:relative;
    padding:5px;
    background:#ffc3c7;
}
header .h_l .h_m_m .menu_4 > a{
    width:100%;
    color:#222c3e;
}
header .h_l .h_m_m .menu_4:hover > a{
    background:#fff;
}

header .h_l .h_m_m .menu_4 ul{
    width:130%;
    position:absolute;
    left:100%; top:-300%;
    background:#ffc3c7;
    white-space:pre-line;
  /*  opacity:0;*/
    transition:.5s;
}
/*header .h_l .h_m_m .menu_4:hover > ul{
    opacity:1;
}*/
header .h_l .h_m_m .menu_4 ul li{
    margin:5px auto;
}
header .h_l .h_m_m .menu_4 ul li a{   
    font-size:14px;
    background:#ffc3c7;
    color:#222c3e;
}
header .h_l .h_m_m .menu_4 ul li:hover > a{
    background:#fff;
}


header .h_l .h_m_m .menu_5{
    margin:0 auto;
    position:relative;
    padding:5px;
    background:#ffc3c7;
}
header .h_l .h_m_m .menu_5 > a{
    width:100%;
    color:#222c3e;
}
header .h_l .h_m_m .menu_5:hover > a{
    background:#fff;
}

header .h_l .h_m_m .menu_5 ul{
    width:130%;
    position:absolute;
    left:100%; top:-400%;
    background:#ffc3c7;
    white-space:pre-line;
    opacity:0;
    transition:.5s;
}
header .h_l .h_m_m .menu_5:hover > ul{
    opacity:1;
}
header .h_l .h_m_m .menu_5 ul li{
    margin:5px auto;
}
header .h_l .h_m_m .menu_5 ul li a{   
    font-size:14px;
    background:#ffc3c7;
    color:#222c3e;
}
header .h_l .h_m_m .menu_5 ul li:hover > a{
    background:#fff;
}

header div nav ul{
    
}
header div nav ul li{
    margin:0 15px auto;
    display:inline-block;
    position:relative;
}
header div nav ul li > a{
    font-size:18px;
    font-family:'Gothic A1', sans-serif;
    color:#222c3e;    
    text-decoration:none;
}
    
/*=====footer=====*/    
footer{
    width:80%;
    background:#ffc3c7;
    display:flex;
    justify-content:space-between;
    margin:0 auto;
    align-items: center;
    margin-top:50px;
    margin-bottom:20px;
}

footer .main_footer{
    width:100%;
}

footer .f_c{
    float:left;
    text-align:left;
    width:80%;
    display:inline-block;
    margin:50px 0;
}
footer .f_c h1{
    font-size:0;
    margin:0 40px;
    float:left;
}
footer .f_c .f_m{float:left;}
footer .f_c nav{
    width:100%; 
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:start;
}
footer .f_c nav ul li{
    margin:0 15px auto;
    display:inline-block;
    position:relative;
    
}
footer .f_c nav ul li a{
    font-size:14px;
    font-family:'Gothic A1', sans-serif;
    text-align:left;
    color:#222c3e;    
    text-decoration:none;}
footer .f_c p{
    width:100%;
    display:flex;
    font-size:12px;
    font-family:'Gothic A1', sans-serif;
    color:#222c3e; 
    text-align:left;
    white-space:pre-line;
    justify-content:flex-start;
    margin-top:30px;
}

footer .f_r{
    width:20%;
    display:inline-block;
}
footer .f_r article{
    float: right;
    margin:25px 40px;
}
footer .f_r article .f_t a{
    width:38px; height:40px;
    background:url('../img/icon_sns.png') no-repeat;
    display:inline-block;
    font-size:0;
    margin:0;
}
footer .f_r article .f_t a:nth-of-type(1){
    background-position:3px 0;
}
footer .f_r article .f_t a:nth-of-type(2){
    background-position:-33px 0;
}
footer .f_r article .f_t a:nth-of-type(3){
    background-position:-70px 0;
}

footer .f_r article .f_b{
    text-align: end;
}
footer .f_r article .f_b p{
    margin:0 auto;
    padding-top:20px;
    font-family:'Gothic A1', sans-serif;
    color:#222c3e; 
}
footer .f_r article .f_b strong{
    font-size:24px;
    margin:0 auto;
    font-family:'Gothic A1', sans-serif;
    color:#222c3e; 
}

/*=====aside=====*/  
aside{
    position:fixed;
    right:3%; top:25%;
    margin:0 auto;
    z-index:4;
}
aside ul li{
    margin:10px auto;
    text-align:center;
}
aside ul li p{
    width:100px; 
    height:30px;
    line-height:28px;
    margin:0 auto;
    padding:0 auto;
    text-align:center;
    justify-content:center;
    color:#fff;
    font-size:14px;
    border:1px solid rgba(0,0,0,0);
    background:#222c3e;
    border-radius: 50px;
    
    position:absolute;
    display:inline-block;
    float:left;
    right:100%;
    
    opacity:0;
}
aside ul li p:before{
    content:''; 
    color:rgba(0,0,0,0.4);
    position:absolute;
    right:-15%; bottom:2px;
    
    width:0; height:0;
    border:8px solid transparent;
    border-bottom:15px solid #222c3e;
    transform:rotate(90deg);
}
aside ul li:hover p{
    opacity:1;
    z-index:500;
}



/*=====media======*/
@media All and (max-width:1160px){
    header .main_header{
    width:100%;
    margin:0 auto;
}
    header .meida_header{
    width:100%;
    display:block;
    position:relative;
    }
    header .main_header .pc_header{display:none;}
    header .h_l,header .h_r,h1{display:none;}
    header .h_l,header .h_r,aside{
        display:none;
    }
 
    /*-----------------------*/
    
    .mtopB{
        
        display:block;
        position:fixed; 
        right:3%; bottom:3%;
        
    }
    .mtopB span{
        width:35px;
        height:35px;
        border:1px solid #ffc3c7;
        border-radius:80%;
        background-color:#ffc3c7;
        display:flex;
        justify-content: center;
        align-items:center;
        font-size:0.8em;
        font-weight: bold;
    }
    
    /*-----------------------*/

    
    footer{
        width:100%;
        display:block;
        text-align: center;
    }
    footer .f_m{display: none;}
    footer .f_c{
        float:none;
        width:100%;
        margin:0 auto;
        display:block;
    }
    footer .f_c h1{
        width:100%;
        margin:0 auto;
        text-align: center;
        padding-top:10px;
    }
    footer .f_c img{width:20%;}
    footer .f_r{width:100%;}
    footer .f_r article{
        float:none;
        display:block;
        width:100%;
        margin:0 auto;
        text-align: center;
    }
    footer .f_r article .f_t a{
        background-size:80px;
        width:30px; height:30px;
    }
    footer .f_r article .f_t a:nth-of-type(1){
        background-position:5px 0;
    }
    footer .f_r article .f_t a:nth-of-type(2){
        background-position:-25px 0;
    }
    footer .f_r article .f_t a:nth-of-type(3){
        background-position:-55px 0;
    }
    footer .f_r article .f_b p{
        text-align: center;
        font-size:13px;
        padding-top:5px;
    }
    footer .f_r article .f_b strong{font-size:15px;}
    
}