@import url('common.css');


.notice1{    
    margin:0 auto;
    width:80%;
    border-collapse:collapse; 
}
.notice1 caption{
    text-align:left;
    border-bottom:2px solid #222c3e;
    font-size:20px;
    padding-bottom:16px;
    
    font-family: 'Gothic A1', sans-serif;
    text-shadow:-1px 0 #242d3f, 0 1px #242d3f, 1px 0 #242d3f, 0 -1px #242d3f;
    color:#4bb3a1;
    padding-top:20px;
}

.notice1 th,
.notice1 td{
    border-bottom:1px solid #616e85;
    padding:10px 0;
    text-align: center;
}
.notice1 thead th{}
.notice1 tbody td:nth-of-type(2){
    text-align:left;
    width:70%;
}

.notice1 tbody tr:nth-of-type(1){background:#d7dbe3;}
.notice1 tbody tr:nth-of-type(6){border-bottom:2px solid #222c3e;}

.shc{
    width:80%; margin:0 auto;
    padding-top:15px;
}
.shc_b{
        border:1px solid #222c3e;
        background:#f5b8bc;
    }

/*=====media======*/



@media (min-width:480px) and (max-width:1160px){
    .notice1{width:100%;}
    .notice1 caption{
        width:100%;
        text-align: center;
        font-size:30px;
    }
    .notice1 tbody td:nth-of-type(2) a{
        font-size:18.5px;
    }
    .shc{width:100%; padding-left: 15px;}
    .shc input{font-size:18px;}
}
