@import url('common.css');

.notice1{    
    margin:0 auto;
    width:80%;
    border-collapse:collapse; 
}

.notice1 caption{
    text-align:left;
    border-bottom:2px solid #222c3e;
    font-size:20px;
    padding-bottom:16px;
    
    font-family: 'Gothic A1', sans-serif;
    text-shadow:-1px 0 #242d3f, 0 1px #242d3f, 1px 0 #242d3f, 0 -1px #242d3f;
    color:#4bb3a1;
    padding-top:20px;
}

.notice1 th,
.notice1 td{
    border-bottom:1px solid #616e85;
    padding:10px 0;
    text-align: center;

}
.notice1 thead th{text-align: center;}
.notice1 thead .chb{
    width:100%;
    display:block;
    margin:0 auto;
    text-align: center;
}
.notice1 tbody td:nth-of-type(1){width:2%;}
.notice1 tbody td:nth-of-type(2){width:18%;}
.notice1 tbody td:nth-of-type(3){
    white-space:pre-line;
    text-align:left;
    width:30%;
    text-indent:25px;
}
.notice1 tbody td:nth-of-type(4){width:10%;}
.notice1 tbody td:nth-of-type(5){width:5%;}
.notice1 tbody td:nth-of-type(6){width:10%;}
.notice1 tbody td:nth-of-type(7){width:15%;}

.notice1 tbody tr:nth-of-type(4){
    border-top:1px solid #222c3e;
    border-bottom:2px solid #222c3e;
}
.notice1 tbody tr .tb_1{
    padding-top:15px;
    padding-bottom:15px;
    font-size:20px;
    background:#4bb3a1;
    text-align:left;
    text-indent:25px;
}
.notice1 tbody tr .tb_2{
    font-size:20px;
    background:#4bb3a1;
    text-align:end;
    font-weight:bold;
    padding-right:15px;
}


.buy1{
    width:80%; margin:0 auto;
    padding-top:40px;
    text-align: end;
}
.buy1 a{
    border:1px solid #222c3e;
    padding:15px;
    margin-left:20px;
}
.buy1 a:nth-of-type(1){background:#f5b8bc;}

/*=====media======*/



@media (min-width:480px) and (max-width:1160px){
    
    .notice1{width:100%;}
    *{font-size:13px;}
    
    .notice1 caption{
        width:100%;
        text-align: center;
        font-size:20px;
    }
    
    .notice1 thead th:nth-of-type(1){
        width:5%;        
        text-align: center;
    }
    .notice1 thead th .chb{width:15px;height:15px;}
    .notice1 tbody td:nth-of-type(1){
        width:5%;        
    }
    .notice1 tbody td .chb{width:15px;height:15px;}
    .notice1 tbody td:nth-of-type(2){
        width:15%;
    }
    .notice1 tbody td img{width:100%;}
    .notice1 tbody td:nth-of-type(3){
         padding-left:10px;
    
    }
    .notice1 tbody td:nth-of-type(4){
        width:10%;
    }
    .notice1 tbody td:nth-of-type(5){
        width:10%;
    }
    .notice1 tbody td:nth-of-type(6){
        width:10%;
    }
    .notice1 tbody td:nth-of-type(7){
        width:10%;
    }
    .notice1 tbody tr .tb_1{
        text-indent:5px;
        font-size:15px;
    }
    .notice1 tbody tr .tb_2{
        font-size:15px;
        white-space:pre-line;
    }

    .buy1{
        width:100%; 
        margin:0 auto; 
        text-align: center;
        font-size:15px;
    }
    
}